.about {
  margin: 4rem auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  max-width: 700px;
}

.about article {
  margin-left: 2rem;
  font-family: "poppins";
}

.about article h4 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
}

.about article p {
  margin-top: 1rem;
  font-weight: 400;
}

/* .imgProfile {
  width: 10rem;
  border-radius: 50%;
} */

.imgProfile {
  width: 18rem;
  object-fit: contain;
  align-self: flex-start;
}

@media (max-width: 700px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about article h4 {
    margin-top: 2rem;
  }
  .imgProfile {
    align-self: center;
  }
}
