.window {
  padding: 1rem 1rem 2rem 1rem;
  color: white;
  background-color: var(--orange_logo);
  border-radius: 10px;
}

.windowLink {
  min-width: 10rem;
  margin-top: 2rem;
  padding: 1rem;
  color: white;
  background-color: var(--orange_logo);
  border-radius: 10px;
}
